[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-afterimage"]
	path = bundle/vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle/vim-pcgen"]
	path = bundle/vim-pcgen
	url = https://github.com/devonjones/vim-pcgen.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/vim-fugative"]
	path = bundle/vim-fugative
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
